
.about {
    padding-bottom: 25px
}



.inline-about {
    text-align: center;
    
}

.about-me h1{
    font-family: "satoshi-medium";
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 15px;
}


.about-me h2 {
    font-family: "satoshi-lightitalic";
    font-size: 16px;
    margin-bottom: 0px;
    max-width: 500px;
    margin: 0 auto;
    font-weight: 150;
}


.about-me h3 {
    font-family: "satoshi-medium";
    font-weight: 400;
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 20px;

}




.about-me p {
    max-width: 650px;
    margin: 0 auto;
    font-family: "satoshi";
    font-weight: 150;
    text-align: left;
    line-height: 1.6;
    color: #444;
    padding-bottom: 20px;


}



