@font-face {
  font-family: "satoshi";
  src: url("/assets/fonts/Satoshi-Light.woff2") format("woff2");
  font-weight: 150;
  font-style: normal;
}


@font-face {
  font-family: "satoshi-medium";
  src: url("/assets/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: "satoshi-lightitalic";
  src: url("/assets/fonts/Satoshi-LightItalic.woff2") format("woff2");
  font-weight: 150;
  font-style: normal;
}
