
.site-footer {
  margin-top: 150px;
  padding: 40px 0;
  background: #ffffff;
  border-top: 1px solid #e6e6e6;
}

.footer-content {
  text-align: center;
}

.site-footer p {
  font-family: "satoshi";
  font-size: 14px;
  color: #666;
  font-weight: 150;
}
