@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 30ch;
  } 
  90%,
  100% {
    width: 0em;
  }
}

.terminal-loader {
  
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: oklch(79.2% 0.209 151.711);
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 42em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
  width: min(600px, 100%);
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.terminal-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid rgb(214, 214, 214);
  animation:
    typeAndDelete 15s steps(30) infinite,
    blinkCursor 0.6s step-end infinite alternate;
  margin-top: 1.5em;
}


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0px;

  
}


.hero .wrapper {
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.description h1{
  max-width: 600px;
  margin-top: 45px;
  font-family: "satoshi-medium";
  font-size: 23px;
  font-weight: 300;
}

.hero-icons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}


.hero-icons img {
  height: 26px;
  width: 26px;
  transition: transform 0.2s ease;
}

.hero-icons a:hover img {
    transform: scale(1.1);
}

.scroll-down {
  font-family: "satoshi";
  font-weight: 150;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  color: #555;
}


.pfeil-wrapper {
  animation: bounce 1.5s infinite;
}

.pfeil {
  margin-top: 0px;
  width: 10px;
  height: 10px;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  transform: rotate(45deg);
  display: block;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(6px); }
  100% { transform: translateY(0); }
}


@media (max-width: 640px){
  .hero{ padding: 70px 0; }
  .description h1{ font-size: 20px; margin-top: 28px; }
  .scroll-down{ margin-top: 50px; }
}
